<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <title>Magic 8 Bar</title>
  </head>

  <body>
    <div class="container-fixed">
      <!-- This is the navigation node, controlled by JavaScript. -->
      <div id="navNode">
      </div>

      <!-- This div is the main layout which is controlled by JavaScript -->
      <div id="view">
      </div>
    </div>

    <!-- Include CSS stylesheets -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/magic-eight-bar.min.css">

    <!-- Include JS dependencies -->
    <script type="text/javascript" src="/js/aviator.js"></script>
    <script type="text/javascript" src="/js/reqwest.min.js"></script>
    <script type="text/javascript" src="/js/react.min.js"></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/smooth-scroll.min.js"></script>
    <script type="text/javascript" src="/js/magic-eight-bar.js"></script>

    <!-- Initialize the application -->
    <script type="text/javascript">
      var app         = new App(),
          contentNode = document.querySelector('#view'),
          navNode     = document.querySelector('#navNode');

      app.start();
    </script>
  </body>
</html>
